![Banner PEC DCC](https://raw.githubusercontent.com/pbadillatorrealba/DEDCCPYAC02-recursos/master/catedras/clase5/banner.png)

# Laboratorio 4: agrupaciones de datos

### Integrantes:
__Nombre 1__: Tomás Leal Elgueda

__Nombre 2__:

### Reglas:

- **Grupos de 2 personas**.
- **Ausentes** deberán realizar la actividad solos.
- Cualquier duda fuera del horario de clases al foro. Mensajes al equipo docente serán respondidos por este medio.

### Objetivos:
- Utilizar `groupby` para generar agrupaciones
- Aplicar distintas agregaciones sobre cada grupo
- Familiarizarse con índices jerárquicos

## Preliminar: importar librerías, cargar datos y limpiar.

1. Importe las librerías `pandas` y `numpy`

In [1]:
# Código aquí
import numpy as np
import pandas as pd

2. Carge el dataset (recuerde subir el archivo a colab)

In [12]:
# Código aquí
df = pd.read_excel('https://github.com/tomasleale/data/raw/abe4d2ea70d5d30e7bc8386a3de00f46cda941d8/student_grades.xlsx')
df.shape
df.isna().sum()

Unnamed: 0                      0
names                           0
gender                          0
race/ethnicity                  0
parental level of education     0
lunch                           0
test preparation course         0
math score                     40
reading score                  40
writing score                  47
dtype: int64

3. Elimine todas las filas que contienen valores nulos (puede usar la función dropna). Este dataset limpio es el que debe usar durante el resto del laboratorio.

In [16]:
# Código aquí
df_limpio = df.copy()
df_limpio.dropna(inplace=True)
df_limpio.shape

(1298, 10)

## Agrupaciones

1. Calcule el promedio de `math score` agrupando por género (columna `gender`)

In [18]:
# Código aquí
df_limpio.groupby('gender')['math score'].mean().round(2)

gender
female    83.25
male      88.86
Name: math score, dtype: float64

2. Calcule el promedio de `math score` agrupando por etnia (columna `race/ethnicity`)

In [19]:
# Código aquí
df_limpio.groupby('race/ethnicity')['math score'].mean().round(2)

race/ethnicity
group A    82.49
group B    82.65
group C    84.02
group D    86.49
group E    95.88
Name: math score, dtype: float64

3. Calcule el promedio de `math score` agrupando por género y etnia

In [20]:
# Código aquí

4. Calcule el promedio de `math score` agrupando por género, etnia y nivel educacional de los padres de los estudiantes.

In [ ]:
# Código aquí

5. Calcule el promedio de `math score`, `reading score`, `writing score` agrupando por género.

__Indicación__: no seleccione las columnas, sólo use `mean` y recuerde el parámetro `numeric_only`

In [ ]:
# Código aquí

6. Calcule el promedio sólo de `math score` y `reading score` agrupando por género.

__Indicación__: Ahora sí debe seleccionar las columnas.

In [ ]:
# Código aquí

7. Calcule el promedio y la desviación estándar para `math score` agrupando por género.

In [ ]:
# Código aquí

8. Defina una función que, dado un arreglo (`array`) retorne el tercer valor más pequeño. Nombre a esta función como "third_smallest". Ahora, obtenga el tercer valor más pequeño sobre `reading score`, agrupando por etnia.

__Indicación__: busque la función `np.sort` de `numpy`.

In [ ]:
# Código aquí

9. Agrupe por género y etnia (en ese orden), y obtenga:
- Para math score, el tercer valor más pequeño
- Para reading score, el promedio y desviación estándar
- Para writing score, el mínimo y máximo

In [ ]:
# Código aquí