![Banner PEC DCC](https://raw.githubusercontent.com/pbadillatorrealba/DEDCCPYAC02-recursos/master/catedras/clase5/banner.png)

# Laboratorio 4: agrupaciones de datos

### Integrantes:
__Nombre 1__: Tomás Leal Elgueda

__Nombre 2__:

### Reglas:

- **Grupos de 2 personas**.
- **Ausentes** deberán realizar la actividad solos.
- Cualquier duda fuera del horario de clases al foro. Mensajes al equipo docente serán respondidos por este medio.

### Objetivos:
- Utilizar `groupby` para generar agrupaciones
- Aplicar distintas agregaciones sobre cada grupo
- Familiarizarse con índices jerárquicos

## Preliminar: importar librerías, cargar datos y limpiar.

1. Importe las librerías `pandas` y `numpy`

In [ ]:
# Código aquí
import numpy as np
import pandas as pd

2. Carge el dataset (recuerde subir el archivo a colab)

In [ ]:
# Código aquí
df = pd.read_excel('https://github.com/tomasleale/data/raw/abe4d2ea70d5d30e7bc8386a3de00f46cda941d8/student_grades.xlsx')
df.shape
df.isna().sum()

Unnamed: 0                      0
names                           0
gender                          0
race/ethnicity                  0
parental level of education     0
lunch                           0
test preparation course         0
math score                     40
reading score                  40
writing score                  47
dtype: int64

3. Elimine todas las filas que contienen valores nulos (puede usar la función dropna). Este dataset limpio es el que debe usar durante el resto del laboratorio.

In [ ]:
# Código aquí
df_limpio = df.copy()
df_limpio.dropna(inplace=True)
df_limpio.shape

(1298, 10)

## Agrupaciones

1. Calcule el promedio de `math score` agrupando por género (columna `gender`)

In [ ]:
# Código aquí
df_limpio.groupby('gender')['math score'].mean().round(2)

gender
female    83.25
male      88.86
Name: math score, dtype: float64

2. Calcule el promedio de `math score` agrupando por etnia (columna `race/ethnicity`)

In [ ]:
# Código aquí
df_limpio.groupby('race/ethnicity')['math score'].mean().round(2)

race/ethnicity
group A    82.49
group B    82.65
group C    84.02
group D    86.49
group E    95.88
Name: math score, dtype: float64

3. Calcule el promedio de `math score` agrupando por género y etnia

In [21]:
# Código aqui
df_limpio.groupby(['gender', 'race/ethnicity'])['math score'].mean().round(2)

gender  race/ethnicity
female  group A           81.26
        group B           82.64
        group C           80.40
        group D           83.52
        group E           92.39
male    group A           83.32
        group B           82.66
        group C           88.76
        group D           89.34
        group E           99.04
Name: math score, dtype: float64

4. Calcule el promedio de `math score` agrupando por género, etnia y nivel educacional de los padres de los estudiantes.

In [23]:
# Código aquí
df_limpio.groupby(['gender', 'race/ethnicity', 'parental level of education'])['math score'].mean(numeric_only=True).round(2)

gender  race/ethnicity  parental level of education
female  group A         associate's degree              75.00
                        bachelor's degree               87.75
                        high school                     82.22
                        master's degree                 97.67
                        some college                    78.10
                        some high school                81.08
        group B         associate's degree              83.19
                        bachelor's degree               99.06
                        high school                     87.13
                        master's degree                 91.17
                        some college                    68.82
                        some high school                71.16
        group C         associate's degree              84.50
                        bachelor's degree               91.20
                        high school                     70.07
                        master's degree                 62.00
                        some college                    80.93
                        some high school                77.43
        group D         associate's degree              77.30
                        bachelor's degree               97.05
                        high school                     76.10
                        master's degree                 81.10
                        some college                    88.07
                        some high school                80.97
        group E         associate's degree              81.75
                        bachelor's degree              113.73
                        high school                     88.07
                        master's degree                101.36
                        some college                    91.20
                        some high school                75.57
male    group A         associate's degree              63.62
                        bachelor's degree               94.69
                        high school                     75.77
                        master's degree                 73.00
                        some college                    85.67
                        some high school                87.94
        group B         associate's degree              91.87
                        bachelor's degree               79.40
                        high school                     75.43
                        master's degree                 49.00
                        some college                    86.47
                        some high school                77.60
        group C         associate's degree              90.56
                        bachelor's degree               76.40
                        high school                     85.50
                        master's degree                 96.94
                        some college                    89.35
                        some high school                92.37
        group D         associate's degree              93.91
                        bachelor's degree               85.53
                        high school                     74.90
                        master's degree                106.75
                        some college                    89.98
                        some high school                93.44
        group E         associate's degree             103.07
                        bachelor's degree               90.89
                        high school                     85.55
                        master's degree                 90.00
                        some college                   106.10
                        some high school                92.69
Name: math score, dtype: float64

5. Calcule el promedio de `math score`, `reading score`, `writing score` agrupando por género.

__Indicación__: no seleccione las columnas, sólo use `mean` y recuerde el parámetro `numeric_only`

In [24]:
# Código aquí
df_limpio.groupby('gender').mean(numeric_only=True).round(2)

        Unnamed: 0  math score  reading score  writing score
gender
female      708.23       83.25          93.13          92.72
male        694.91       88.86          86.53          85.62

6. Calcule el promedio sólo de `math score` y `reading score` agrupando por género.

__Indicación__: Ahora sí debe seleccionar las columnas.

In [25]:
# Código aquí
df_limpio.groupby('gender')[['math score', 'reading score']].mean(numeric_only=True).round(2)

        math score  reading score
gender
female       83.25          93.13
male         88.86          86.53

7. Calcule el promedio y la desviación estándar para `math score` agrupando por género.

In [26]:
# Código aquí
df_limpio.groupby('gender')['math score'].agg(['mean', 'std']).round(2)

         mean    std
gender
female  83.25  44.44
male    88.86  44.20

8. Defina una función que, dado un arreglo (`array`) retorne el tercer valor más pequeño. Nombre a esta función como "third_smallest". Ahora, obtenga el tercer valor más pequeño sobre `reading score`, agrupando por etnia.

__Indicación__: busque la función `np.sort` de `numpy`.

In [ ]:
# Código aquí

9. Agrupe por género y etnia (en ese orden), y obtenga:
- Para math score, el tercer valor más pequeño
- Para reading score, el promedio y desviación estándar
- Para writing score, el mínimo y máximo

In [ ]:
# Código aquí

In [27]:
pd.DataFrame.to_csv(df_limpio, 'df_limpio.csv')